---
- import_tasks: install.yml
  when:
    - netplan_check_install

- import_tasks: existing.yml
  when:
    - netplan_remove_existing

- import_tasks: configure.yml

- ansible.builtin.import_tasks: cleanup_debian.yml
  when:
    - ansible_facts["distribution"] == "Debian"
